@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --color-card-red: hsl(0, 78%, 62%);
  --color-card-cyan: hsl(180, 62%, 55%);
  --color-card-orange: hsl(34, 97%, 64%);
  --color-card-blue: hsl(212, 86%, 64%);
  --color-card-grey-500: hsl(234, 12%, 34%);
  --color-card-grey-400: hsl(212, 6%, 44%);
  --color-card-white: hsl(0, 0%, 100%);
  --color-card-snow: hsl(0, 0%, 98%);
  --font-card-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --spacing-card-100: 8px;
  --spacing-card-200: 16px;
  --spacing-card-300: 24px;
  --spacing-card-400: 32px;
  --spacing-card-500: 40px;
  --spacing-card-1600: 80px;
}

@layer base {
  body {
    background-color: var(--color-card-snow);
    font-family: var(--font-card-poppins);
    font-size: 15px;
  }
}

@utility text-preset-1 {
  font-family: var(--font-card-poppins);
  font-weight: 200;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-2 {
  font-family: var(--font-card-poppins);
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0px;
}

@utility text-preset-3 {
  font-family: var(--font-card-poppins);
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0px;
}
